Are you sure?  This can not be undone.
<form id="destroy-board">
  <label for="yes">Yes</label>
  <input type="radio" name="query" id="yes" value="yes">
  <input type="radio" name="query" value="no">No</input>
  <>
</form>